<h1 class="page__title page__title--center">Schedule</h1>

<h3>Dress Code</h3>
<p>
  Either National Dress, or [TODO: specific Wording]<br>
</p>

<article class="day pt-4">
  <section class="entry">
    <div class="entry__time">From 1.30pm</div>
    <div class="entry__title">Arrival at Trinity Buoy Wharf</div>
    <div class="entry__description">
      <p>Arrive, snag the second-best seats (we've already reserved the best ones!), meet the other guests.</p>
      <p><i>Tip:</i> If you're introduced to an Austrian lady, she might go in for cheek kisses.<br>
        To avoid awkward head bumping, go for two: one left, one right. One is too few, three is too many. <a href="TODO holy hnad grenade youtube link">Four is right out.</a></p>
      <p>There will only be light refreshments until dinner, so make sure you have lunch before arriving!</p>
    </div>
  </section>
  <section class="entry">
    <div class="entry__time">2.30pm</div>
    <div class="entry__title">Wedding Ceremony</div>
    <div class="entry__description">
      See how many nerdy references we can squeeze into half an hour to 45 minutes of ceremony.<br>
      You may want to start a betting pool with some of the other guests.
    </div>
  </section>
  <section class="entry">
    <div class="entry__time">3.15ish onwards</div>
    <div class="entry__title">Drinks & Light Entertainment</div>
    <div class="entry__description">
      Hopefully the weather will be nice, because the terrace will have a lovely view of the <a href="TODO link to picture - lightbox?">Millennium Dome</a>.<br>
      We'll be taking pictures, there will be drinks, and there will be entertainment. Wear shoes you can take off.
    </div>
  </section>
  <section class="entry">
    <div class="entry__time">6pm</div>
    <div class="entry__title">Dinner</div>
    <div class="entry__description">
      As far as Paul is concerned, this is the most important part of the day.<br>
      <i>No, this is definitely not the only reason we're getting married. Why do you ask? What a ridiculous question.</i>
    </div>
  </section>
  <section class="entry">
    <div class="entry__time">8.30pm-ish</div>
    <div class="entry__title">Speeches, maybe</div>
    <div class="entry__description">
      Do we want to give someone the floor to embarrass us for half an hour? Undecided.
    </div>
  </section>
  <section class="entry">
    <div class="entry__time">9pm onwards</div>
    <div class="entry__title">Silent Disco, Evening Entertainment</div>
    <p class="entry__description">
      Go outside to see the sunset, stay inside for the silent disco. Chat to people. Have fun.</p>
    <p class="entry__description mb-0">
      At some point, we will decide we've digested enough of the dinner to cut the cake.<br>
      I'm sorry, did we say cake? Of course we meant <em>14kg cheese tower</em>.
    </p>
  </section>

  <section class="entry">
    <div class="entry__time">11pm</div>
    <div class="entry__title">More food?</div>
    <div class="entry__description">
      Yeah, of course. We don't want anyone going hungry.
    </div>
  </section>

  <section class="entry">
    <div class="entry__time">1am</div>
    <div class="entry__title">Carriages</div>
    <div class="entry__description">
      That's English wedding speak for "please go home now".<br>
      Check the <a [routerLink]="['/transport']">Transport page</a> for details on the Night Tube.<br>
      Leaving a wedding has never been this convenient!
    </div>
  </section>
</article>

<article class="day">
  <h1 class="page__title">
    Sunday
  </h1>

  <p>
    Providing the weather is good, we're planning to have a picnic in Victoria Park in East London.<br>
  </p>
  <p>
    <a
      href="TODO Victoria Park link"
      target="_blank"
    >Victoria Park (Google Maps)</a>
  </p>

  <p>
    Everyone is welcome, including kids and everyone who couldn't make it on Saturday!
  </p>
  <p>
    Bring food, or visit [TODO right name? Victoria Parade] first, one of our favourite Sunday brunch spots,<br>
    with lovely shops:
  </p>
  <ul class="location-list">
    <li>Gail's: Bakery with really good bread and sandwiches</li>
    <li>Ginger Pig: Paul's favourite butcher's, sells great sausage rolls</li>
    <li>TOOD whatever that deli is called</li>
  </ul>
  <p>
    <a
      href="TODO parade link"
      target="_blank"
    >[TODO Parade] (Google Maps)</a>
  </p>

  <p>
    If the weather is not picnic suitable, we may have to make alternative plans.<br>
    Give us a ring in the morning (after 10am).
  </p>
</article>
