<div class="content">
  <div (click)="toggle()">
    <img src="assets/lighthouse.svg" class="lighthouse lighthouse--day">
    <img src="assets/lighthouse-lit.svg" class="lighthouse lighthouse--night">
  </div>
  <div class="header">
    <h1 class="header__title">
      <a href="https://www.youtube.com/watch?v=Ld35lMnFQ10" target="_blank" class="header__link">
        I <i class="icon-heart"><span class="text-hide">&hearts;</span></i> LamP
      </a>
    </h1>
    <h2 class="header__sub-title">
      24 Aug 2019
    </h2>
  </div>
</div>
