<h1 class="page__title">Location</h1>

<article class="mb-5">
  <h2 class="section-header">Trinity Buoy Wharf</h2>

  <div class="display-card mb-3">
    <img
      class="display-card__image"
      src="/assets/images/trinity-buoy-wharf.jpg"
      alt="Trinity Buoy Wharf"
    >
  </div>

  <p>
    We love LamP! We fell in love with this location as soon as we saw it.
    Lam is to credit for realising mid-viewing that a lighthouse is, well, a big lamp - and fit perfectly into our theme!
  </p>
</article>

<article class="mb-5">
  <h2 class="section-header">Transport</h2>

  <div class="display-card mb-3">
    <iframe
      class="display-card__image"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.2910376168334!2d0.007546954627527571!3d51.50787637152176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6c5a9165deb4d605!2sTrinity+Buoy+Wharf!5e0!3m2!1sen!2suk!4v1555178720338!5m2!1sen!2suk"
      width="100%"
      height="300"
      frameborder="0"
      style="border:0"
      allowfullscreen
    ></iframe>
  </div>

  <address>
    <div
      class="mb-2"
    > Trinity Buoy Wharf<br>
      64 Orchard Place<br>
      E14 0JW<br>
      London
    </div>
    <a
      href="https://goo.gl/maps/5z9tVX5q2yK2"
      target="_blank"
    >Google Maps</a>
  </address>

  <section class="mb-4">
    <h3>By Car</h3>
    <p>
      If you're driving, you can use the car park at the location.<br>
      Unfortunately we have to completely clear the venue before 4am, so you will be unable to leave it there overnight.<br>
      If you are staying late (and we hope so!), we recommend taking public transport instead.
    </p>
  </section>

  <section class="mb-4">
    <h3>By Public Transport</h3>
    <p>The closest station is <a href="TODO link to TFL direct link">Canning Town</a>, which is served by the Jubilee Line and DLR.</p>
    <p>The Jubilee Line runs the <a href="TODO link to Night Tube map">Night Tube</a>, so you can take it back home afterwards too!</p>
  </section>

  <section class="mb-4">
    <h3>By Helicopter or Private Jet</h3>
    <p>You may be able land your private aircraft at <a href="TODO map link to LCY">London City Airport</a> and take the DLR to the venue,<br>
      although you will probably have to leave the aircraft at the airport overnight.<br/>
      <a href="TODO link to some airport authority">Contact the airport directly</a> to enquire about a space.</p>
  </section>
</article>
