<h1 class="page__title">Location</h1>

<article class="mb-5">
  <h2 class="section-header">Trinity Buoy Wharf</h2>

  <div class="display-card mb-3">
    <img
      class="display-card__image"
      src="assets/images/trinity-buoy-wharf.jpg"
      alt="Trinity Buoy Wharf"
    >
  </div>

  <p>
    <a href="https://www.youtube.com/watch?v=Ld35lMnFQ10" target="_blank">We love LamP!</a> We fell in love with this location as soon as we saw it.<br>
    Lam is to credit for realising mid-viewing that a lighthouse is, well, a big lamp - and fit perfectly into our theme!
  </p>
</article>

<article class="mb-5">
  <h2 class="section-header">Transport</h2>

  <div class="display-card mb-3">
    <iframe
      class="display-card__image"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.2910376168334!2d0.007546954627527571!3d51.50787637152176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6c5a9165deb4d605!2sTrinity+Buoy+Wharf!5e0!3m2!1sen!2suk!4v1555178720338!5m2!1sen!2suk"
      width="100%"
      height="300"
      frameborder="0"
      style="border:0"
      allowfullscreen
    ></iframe>
  </div>

  <address>
    <div
      class="mb-2"
    > Trinity Buoy Wharf<br>
      64 Orchard Place<br>
      E14 0JW<br>
      London
    </div>
    <a
      href="https://goo.gl/maps/5z9tVX5q2yK2"
      target="_blank"
    >Google Maps</a>
  </address>

  <section class="mb-4 mt-4">
    <h3>By Car</h3>
    <p>
      If you're driving, you can use the car park at the location.<br>
      Unfortunately we have to completely clear the venue before 4am, so you will be unable to leave it there overnight.<br>
      If you are staying late (and we hope so!), we recommend taking public transport instead.
    </p>
  </section>

  <section class="mb-4">
    <h3>By Public Transport</h3>
    <p>
      The closest station is <a href="https://tfl.gov.uk/maps/track?Input=Canning+Town&InputGeolocation=51.514029%2C0.008025" target="_blank">Canning Town</a>, which is served by the Jubilee Line and DLR.<br>
      From there it's an <a href="https://www.google.com/maps/dir/Canning+Town+Station,+London+E16+1ED,+UK/Trinity+Buoy+Wharf,+64+Orchard+Pl,+Poplar,+London+E14+0JW,+UK/@51.5111448,0.0029786,16z" target="_blank">easy 15 minute walk</a> to the location.</p>
    <p>The Jubilee Line runs the <a href="https://tfl.gov.uk/maps/track/tube?secondaryMap=night-tube" target="_blank">Night Tube</a>, so you can take it back home afterwards too!</p>
  </section>

  <section class="mb-4">
    <h3>By Helicopter or Private Jet</h3>
    <p>You may be able land your private aircraft at <a href="https://www.google.com/maps/dir/London+City+Airport,+London,+UK/Trinity+Buoy+Wharf,+64+Orchard+Pl,+Poplar,+London+E14+0JW,+UK/@51.5084837,0.0057293,14z/" target="_blank">London City Airport</a> and take the DLR to the venue,<br>
      although you will probably have to leave the aircraft at the airport overnight.<br/>
      <a href="https://www.londoncityairport.com/Contact-us">Contact the airport directly</a> to enquire about a space.</p>
  </section>
</article>

<article class="mb-5">
  <h2 class="section-header">Accommodation</h2>

  <section class="mb-4">
    <h3>Hotels</h3>
    <p>
      There is a number of hotels in London<sup>[citation needed]</sup> and some of them may have rooms available.<br>
      We would recommend booking early as it is a bank holiday weekend.<br>
      If you are planning to take the Night Tube home, try to find one on the Central or Jubilee lines!
    </p>

    <ul>
      <li>
        <a href="https://uk.hotels.com/search.do?resolved-location=REGION%3A1912187%3AUNKNOWN%3AUNKNOWN&destination-id=1912187&q-destination=East%20London,%20England,%20United%20Kingdom&q-check-in=2019-08-23&q-check-out=2019-08-26&q-rooms=1&q-room-0-adults=2&q-room-0-children=0" target="_blank">
          Hotels Nearby
        </a>
      </li>
      <li>
        <a href="https://uk.hotels.com/search.do?resolved-location=CITY%3A1617986%3AUNKNOWN%3AUNKNOWN&destination-id=1617986&q-destination=East%20London,%20South%20Africa&q-check-in=2019-08-23&q-check-out=2019-08-26&q-rooms=1&q-room-0-adults=2&q-room-0-children=0" target="_blank">
          Hotels Not So Nearby
        </a>
      </li>
    </ul>
  </section>

  <section class="mb-4">
    <h3>AirBnB</h3>
    <p>
      AirBnB is like a less regulated version of a hotel without the buffet breakfast.<br>
      Rent someone's flat for and pretend to be a Londoner for the weekend!<br>
      <i>(Don't forget to: never talk to anyone on public transport, stare grumpily at tourists getting stuck in Tube barriers,<br>
      and complain about how lattes are getting more expensive all the time.)</i>
    </p>
    <ul>
      <li>
        <a href="https://www.airbnb.com/s/Stratford--London--United-Kingdom/homes?refinement_paths%5B%5D=%2Fhomes&checkin=2019-08-23&checkout=2019-08-26&map_toggle=true&query=Stratford%2C%20London%2C%20United%20Kingdom&place_id=ChIJh5ur8oun2EcRivsgVunTab0&search_type=AUTOCOMPLETE_CLICK&allow_override%5B%5D=&s_tag=MrO7O1sI" target="_blank">
          All the fun of a stranger's home with none of the regulation
        </a>
      </li>
    </ul>
  </section>

</article>
