// https://coolors.co/353535-012161-cceeff-ffd700-ffffff
$grey: rgba(53, 53, 53, 1);
$navy: rgba(1, 33, 97, 1);
$light-blue: rgba(204, 238, 255, 1);
$gold: rgba(255, 200, 0, 1);
$light-gold: rgba(255, 243, 178, 1);
$white: rgba(255, 255, 255, 1);

$theme-colors: (
  "primary":    $navy,
  "secondary":  $light-blue,
);
