<h1 class="page__title">Photos</h1>

<a class="display-card mb-3" href="http://picti.net/7QmGq" target="_parent">
  <img
    class="display-card__image"
    src="assets/images/bouncy-castle.jpg"
    alt="Lam and Paul on the Bouncy Castle"
  >
</a>

<p class="mb-4">
  Our incredible photographer <a href="https://www.mariannechua.com/" target="_blank">Marianne Chua</a> worked tirelessly during the wedding,<br>
  capturing our amazing guests in all their glory.
</p>

<p>
  You can see all of the brilliant photos in the gallery:
</p>
<div class="mb-3">
  <a class="btn-lg btn-light" href="http://picti.net/7QmGq" target="_parent">View the Gallery</a>
</div>
<p>
  Let us know which ones are your favourites!
</p>

