<h1 class="page__title">Gifts</h1>

<article class="mb-5">
  <p>
    Please do not feel obliged to get us a gift &mdash; we really will be happy with your presence!
  </p>
  <p>
    If you do want to provide a contribution to our honeymoon or our household:<br>
    We are putting together a gift list, but we are not organised enough to have it completed just yet.<br>
    Please check back in July!*
  </p>
  <p style="font-size: 0.9em" class="mt-5">
    *if you're reading this and it's already July, please
    <a
      href="mailto:both@lamp.wedding?subject=It%27s%20July%2C%20where%27s%20your%20Gift%20List%3F"
      target="_blank"
    >prod us</a>
    and tell us to get on with it!
  </p>
</article>
