<h1 class="page__title">Gifts</h1>

<article class="mb-5">
  <p class="mb-5">
    Please do not feel obliged to get us a gift &mdash; we really will be happy with your presence!
  </p>
  <p>
    If you do want to provide a contribution:
  </p>
  <p>

    We would especially love if you could help us create memories<br>
    by gifting experiences &mdash; both abroad<br>
    on our USA honeymoon or here at home in London.
  </p>
  <p>
    There's a whole lot of things to choose from at weddingshop.com:<br>
    <a class="btn btn-secondary mt-5 mb-4" href="https://www.weddingshop.com/Buy/View/58332" target="_blank">
      Go to the Gift List
    </a>
  </p>
  <p>
    Thank you in advance!<br>
    Lam & Paul
  </p>
</article>
