$lighthouse-height: 24rem;
$lighthouse-ratio: 76px / 212px;

@mixin small-screen {
  @media screen and (max-width: 540px) {
    @content;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  &__lighthouse {
    margin: 0 3rem 3rem;
  }

  &__text {
    margin-bottom: 3rem;
    font-size: 5rem;

    @include small-screen {
      font-size: 3rem;
      flex-basis: 100%;
    }
  }
}

.lighthouse {
  $root: &;
  height: $lighthouse-height;
  width: $lighthouse-ratio * $lighthouse-height;

  @include small-screen {
    height: $lighthouse-height * 0.7;
    width: $lighthouse-ratio * $lighthouse-height * 0.7;
  }

  position: relative;
  display: inline-block;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &::before {
    background-image: url('../../assets/lighthouse.svg');
  }

  &::after {
    background-image: url('../../assets/lighthouse-lit.svg');

    opacity: 1;
    transition: all 2s cubic-bezier(.39, 0, 1, 0); // cubic-bezier(.17, .08, 0, .94);
  }

  &--day::after {
    opacity: 0;
    transition: all 2s cubic-bezier(0, 1, .61, 1); //cubic-bezier(1, .06, .83, .92);
  }
}

a {
  &,
  &:active,
  &:visited {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    color: inherit;
    position: relative;
  }

  &:hover::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 2px;
    //background-color: #363636;
    transform: translateY(-50%) rotate(1deg);

    background-color: white;
  }
}
.text-hide {
  display: inline-block;
  text-indent: -9999px;
}
