<div class="title">
  <div
    class="lighthouse title__lighthouse"
    [class.lighthouse--day]="(dayNight$ | async) === 'day'"
    (click)="toggleDay()"
  ></div>
  <div class="title__text">
    <h1 style="font-size: 1.6em">
      I <i class="icon-heart"><span class="text-hide">&hearts;</span></i> LamP
    </h1>
    <h2 style="font-size: 1.2em">Lam & Paul</h2>
    <h3 style="font-size: 1em">24 August 2019</h3>
  </div>
</div>


<div
  *ngIf="false"
  class="homepage"
  [class.homepage--night]="animationState !== 'day'"
>
  <div class="homepage__container">
    <div
      (click)="start()"
      class="homepage__lighthouse"
      [@lighthouseFadeAway]="animationState"
    ></div>

    <h1
      [@title]="animationState"
      style="font-weight: normal; font-size: 8vh; margin: 0"
    >
      <a href="https://www.youtube.com/watch?v=Ld35lMnFQ10" target="_blank" class="header__link">
        I <i class="icon-heart"><span class="text-hide">&hearts;</span></i> LamP
      </a>
    </h1>

    <div
      [@detailsFadeIn]="animationState"
      style="text-align: center"
    >
      <h2
        class="save-the-date"
        style="font-weight: normal; font-size: 10vh; margin-top: 1vh; margin-bottom: 4vh"
      >
        Save the Date
      </h2>
      <p
        class="date-and-location"
        style="font-size: 8vh; margin-top: 0; margin-bottom: 6vh"
      >
        24 Aug 2019<br />
        London
      </p>
      <p
        class="signoff"
        style="font-size: 6vh; margin: 0"
      >
        See you there!<br />
        <span style="font-size: 8vh">
          Lam & Paul
        </span>
      </p>
    </div>
  </div>

</div>
