<div
  class="homepage"
  [class.homepage--night]="animationState !== 'day'"
>
  <!--<div style="position:fixed; left: 0; top: 0; z-index: 1000">-->
    <!--<button (click)="animationState='day'">Day</button>-->
    <!--<button (click)="animationState='night'">Night</button>-->
    <!--<button (click)="animationState='title'">Title</button>-->
    <!--<button (click)="animationState='details'">Details</button>-->
    <!--<div style="display: inline-block; background-color: white">{{ animationState }}</div>-->
  <!--</div>-->
  <div class="homepage__container">
    <div
      (click)="start()"
      class="homepage__lighthouse"
      [@lighthouseFadeAway]="animationState"
    ></div>

    <h1
      [@title]="animationState"
      style="font-weight: normal; font-size: 8vh; margin: 0"
    >
      <a href="https://www.youtube.com/watch?v=Ld35lMnFQ10" target="_blank" class="header__link">
        I <i class="icon-heart"><span class="text-hide">&hearts;</span></i> LamP
      </a>
    </h1>

    <div
      [@detailsFadeIn]="animationState"
      style="text-align: center"
    >
      <h2
        class="save-the-date"
        style="font-weight: normal; font-size: 10vh; margin-top: 1vh; margin-bottom: 4vh"
      >
        Save the Date
      </h2>
      <p
        class="date-and-location"
        style="font-size: 8vh; margin-top: 0; margin-bottom: 6vh"
      >
        24 Aug 2019<br />
        London
      </p>
      <p
        class="signoff"
        style="font-size: 6vh; margin: 0"
      >
        See you there!<br />
        <span style="font-size: 8vh">
          Lam & Paul
        </span>
      </p>
    </div>
  </div>

</div>
